div {
  background-color : #F6F7D7;


}

body{
margin: 0;
text-align: center;
font-family: 'Roboto', sans-serif;

}

h1 {
margin-top: 0;
font-family: 'Just Another Hand', cursive;
color: #8946A6;
}

h2{
font-family: 'Roboto', sans-serif;
font-weight: 900;
color: #8946A6;
}

h3{
font-family: 'Roboto', sans-serif;
font-weight: 900;
color: #8946A6;
}

.top-container
{
  background-color: #3EC1D3;
  position: relative;
  padding-top: 100px;
}


  .bottom-cloud {
    position: absolute;
    left: 600px;
    bottom: 300px;

  }

  .top-cloud {
    position:absolute;
    right: 600px;
    top: 50px
  }


  hr {
 border: 8px dotted ;
 border-style: dotted none none none;
 width: 10%;
 color: #FF165D;
}
/*****MIDDLE CONTAINER STYLES********/
.technical-columns {
  columns: 3;
  column-gap: 55px;
  padding-top: 30px;
  text-align:left;
  padding-left: 300px;
}

.soft-columns {
  columns: 3;
  column-gap: 55px;
  padding-top: 30px;
  text-align:left;
  padding-left: 300px;
}
